<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/bower_components/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/visualization.css"/>
  </head>
  <body>
    <button id="visualization-settings-toggle"><i class="fa fa-cog"></i></button>

    <div id="topic-tree-container" class="background-layer">
      <h1></h1>

      <div id="tree-canvas">
      </div>

      <div id="class-chart-timeline">
      </div>

      <a href="#" class="close-button">
        <i class="fa fa-times"></i>
      </a>

      <div id="class-container">
        <div id="class-container-toggle"><i class="fa fa-chevron-left"></i> Classes</div>

        <div id="class-list">
        </div>

        <p class="text-muted" style="margin-bottom: 0px">
          <i class="fa fa-hand-pointer-o"></i> Click a class to see its visualization
        </p>
      </div>
    </div>

    <div id="visualization-settings-container" class="background-layer">
      <h1>Settings</h1>

      <div class="wrapper">
        <div class="settings-widget">
          <h2>Years</h2>
          <p>
            Choose which years to display on the timeline.
          </p>

          <div id="settings-years-slider"></div>
          <p id="settings-years-title">
          </p>
        </div>
      </div>
    </div>

    <div id="visualization-container">
      <div id="chart"></div>
      <div id="chart-timeline"></div>

      <div id="right-fade"></div>
    </div>

    <script src="static/build.min.js"></script>
  </body>
</html>
